body{
	background: #EDEDED;
}

a{
	text-decoration: none;
	color: black;
}

li{
	list-style: none;
}

.numberCard{
	position: absolute;
	top: 10%;
	border: 2px solid #E9980C;
	border-radius: 50%;
	line-height: 14px;
	text-align: center;
	padding: 1px;
	background: #E9980C;
}

.banner .nameOfcom a h3{
	line-height: 60px;
}

.logo a{
	line-height: 60px;
}

.logo img{
	height: 50px;
	width: 50px;
}

.nav-item .nav-link{
	font-size: 14px;
}

.nav-item .dropdown-item{
	font-size: 14px;
}

.navbar ul li a:focus{
	border-bottom: 1px solid red;
}

h3{
	font-weight: normal;
	text-transform: uppercase;
}

.xemThem button{
	cursor: pointer;
	border: 1px solid black;
	background: #ffffff;
}

.right-about a img{
	margin-left: 4px;
}

.right-about a span{
	display: inline-block;
	margin-top: 5px;
}

i{
	padding: 2px;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.list-group-item{
	cursor: pointer;
}

.list-group-item:hover{
	background-color: #0072ff;
	color: white;
}

.line{
	border: 1px solid red;
}

.sanpham{
	border: 1px solid #f46164;
	background-color: #f46164;
	padding: 7px;
	color: white;
}

.line{
	border: 1px solid #f46164;
}

.buy{
	position: absolute;
	top: 50%;
	left: 35%;
	opacity: 0;
}

.buy a{
	color: white;
	padding: 5px;
	font-weight: bold;
}

.shop:hover .buy{
	opacity: 1;
	border: 1px solid #f46164;
	color: white;
	background-color: #f46164;
}

.social-icon{
	right: 20px;
	bottom: 50px;
	position: fixed;
	border: 1px solid #f46164;
	padding: 6px;
	background-color: #f46164;
}

.social-icon ul li{
	list-style: none;
	margin-top: 15px;
	text-align: center;
}

.social-icon ul li a{
	color: white;
	border: 1px solid;
}

.title b{
	color: #8f8f8f;
}

.title ul{
	margin-top:20px;
}

.title ul li{
	margin: 15px;
}

.title ul li a{
	color: #8f8f8f;
	font-size: 12px;
	padding: 10px;
}